In [1]:
import numpy as np
from os import listdir
from os.path import join
from itertools import compress
import pandas as pd
from collections import Counter

In [2]:
def readin_fastq(core_path,filename):
    seqsraw = pd.read_csv(join(core_path,filename),sep="\t",header=None)  # txt files are tab-separated that is why we say that the seperator is "tab" represented by "\t" (sep = "\t")
    seqs = seqsraw.iloc[range(1,seqsraw.shape[0],4),:] # the range function specifies the number of lines in each file and that onle every 4th line should be read -> fastq files have 4 lines per read, one with seqeunce and remaining 3 quality indicators
    
    return(seqs)

In [3]:
data_path = '/project2/kribelba_1515/data/EXTRA_seq/2024_data/uniEXTRA_lib6p0'

In [4]:
files = listdir(data_path)
# files

In [5]:
# Filter for gDNA and mRNA separately
files_gDNA = list(compress(files, ["gDNA" in i for i in files]))
files_mRNA = list(compress(files, ["mRNA" in i for i in files]))

# print("gDNA Files:", files_gDNA)
# print("mRNA Files:", files_mRNA)

In [6]:
gDNA_sequences = []
for file in files_gDNA:
    print(f"Reading gDNA file: {file} ...")
    gDNA_sequences.append(readin_fastq(data_path, file))
    print(f"Finished reading {file} ✅")

Reading gDNA file: RMCE_6p0_uniEXTRA_ofhublib4p75_rep1_gDNA_polyA_S2_R1_001.fastq.gz ...
Finished reading RMCE_6p0_uniEXTRA_ofhublib4p75_rep1_gDNA_polyA_S2_R1_001.fastq.gz ✅
Reading gDNA file: RMCE_6p0_uniEXTRA_ofhublib4p75_rep2_gDNA_S5_R1_001.fastq.gz ...
Finished reading RMCE_6p0_uniEXTRA_ofhublib4p75_rep2_gDNA_S5_R1_001.fastq.gz ✅
Reading gDNA file: RMCE_6p0_uniEXTRA_ofhublib4p75_rep3_gDNA_S6_R1_001.fastq.gz ...
Finished reading RMCE_6p0_uniEXTRA_ofhublib4p75_rep3_gDNA_S6_R1_001.fastq.gz ✅
Reading gDNA file: RMCE_6p0_uniEXTRA_ofhublib4p75_rep4_gDNA_S7_R1_001.fastq.gz ...
Finished reading RMCE_6p0_uniEXTRA_ofhublib4p75_rep4_gDNA_S7_R1_001.fastq.gz ✅
Reading gDNA file: RMCE_6p0_uniEXTRA_ofhublib4p75_rep5_gDNA_S8_R1_001.fastq.gz ...
Finished reading RMCE_6p0_uniEXTRA_ofhublib4p75_rep5_gDNA_S8_R1_001.fastq.gz ✅

In [7]:
gDNA_sequences

[                                                          0
 1         CTCAGCATGACGGACAGACCCATGCACAAGGACCTATGGAAGATCC...
 5         CTCAGCATGACGGACAGACCCTACAATCACAACATATGGAAGATCC...
 9         CTCAGCATGACGGACAGACCCGCACTTAAAACCATATGGAAGATCC...
 13        CTCAGCATGACGGACAGACCGAAACATCTTCCCATATGGAAGATCC...
 17        CTCAGCATGACGGACAGACCTTTCCCGGCAAGCATATGGAAGATCC...
 ...                                                     ...
 32976253  CTCAGCATGACGGACAGACCTGTTCACACTCACATATGGAAGATCC...
 32976257  CTCAGCATGACGGACAGACCTATAAACCAAAGCATATGGAAGATCC...
 32976261  CTCAGCATGACGGACAGACCGTACAAAACTTTCATATGGAAGATCC...
 32976265  CTCAGCATGACGGACAGACCCCAGTCAGTCTGCATATGGAAGATCC...
 32976269  CTCAGCATGACGGACAGACCACAGAAAGTAGTCATATGGAAGCTCC...

 [8244068 rows x 1 columns],
                                                           0
 1         CTCAGCATGACGGACAGACCGGCACAAGTAACCATATGGAAGATCC...
 5         CTCAGCATGACGGACAGACCATCAAGATCCACCATATGGAAGATCC...
 9         CTCAGCATGACGACAGACCCATAGACATTCGCATATGGAAGATTCT...
 13        CTCAGCATGACGGACAGACCTAGACATTAGATCATATGGAAGATCC...
 17        CTCAGCATGACGGACAGACCCATGTCACATTTCATATGGAAGATCC...
 ...                                                     ...
 62929225  CTCAGCATGCGGACAGACCATGCCTGAACCGCATATGGAAGATCCT...
 62929229  CTCAGCATGACGGACAGACCAAACGACAAATCCATATGGAAGATCC...
 62929233  CTCAGCATGACGGACCGACCCATTCTCCACTACATATGGAAGATCC...
 62929237  CTCAGCATGACGGACAGACCATATATAAAGATCATATGGAAGATCC...
 62929241  CTCAGCATGACGGACAGACCCGTGCCTCCCAACATATGGCAGATCC...

 [15732311 rows x 1 columns],
                                                           0
 1         CTCAGCATGACGGACAGACCAACCAACTAGAGCATATGGAAGATCC...
 5         CTCAGCATGACGGACAGACCATTCAAACAAACCATATGGAAGATCC...
 9         CTCAGCATGACGGACAGACCTGATTGAGAAGCCATATGGAAGATCC...
 13        CTCAGCATGACGGACAGACCCAAACGACGGTTCATATGGAAGATCC...
 17        CTCAGCATGACGGACAGACCGTGAATAAGCAACATATGGAAGATCC...
 ...                                                     ...
 78523769  CTCAGCATGACGGACAGACCTCTAAACAAACGCATATGGAAGATCC...
 78523773  CTCAGCATGACGGACAGACCGCAGTTAACTTTCATATGGAAGATCC...
 78523777  CTCAGCATGACGGACAGACCTTTCCCGGCAAGCATATGGAAGATCC...
 78523781  CTCAGCATGACGGACAGACCTAACACAATCTACATATGGAAGATCC...
 78523785  CTCAGCATGACGGACAGACCATTCAATGACCTCATATGGAAGATCC...

 [19630947 rows x 1 columns],
                                                           0
 1         CTCAGCATGACGGACAGACCAGAATGCTACTGCATATGGAAGATCC...
 5         CTCAGCATGACGGACAGACCATAAAAGTAACCCATATGGAAGATCC...
 9         CTCAGCATGACGGACAGACCCTACGACATCCGCGTATGGAAGATCC...
 13        CTCAGCATGACGGACAGACCGCTACCATTCAGCATATGGAAGATCC...
 17        CTCAGCATGACGGACAGACCTACAAGTATGCCCGTATGGAAGATCC...
 ...                                                     ...
 54022241  CTCAGCATGACGGACAGACCATTAAACTCATCCATATGGAAGATCC...
 54022245  CTCAGCATGACGGACAGACCCAATTGCTATTTCATATGGAAGATCC...
 54022249  CTCAGCATGACGGACAGACCAAGTCACAAACGCATATGGAAGATCC...
 54022253  CTCAGCATGACGGACAGACCGAGACCCTCTAACATATGGAAGATCC...
 54022257  CTCAGCATGACGGACAGACCTACAAAACGATACATATGGAAGATCC...

 [13505565 rows x 1 columns],
                                                           0
 1         CTCAGCATGACGGACAGACCAAACATGACACTCATATGGAAGATCC...
 5         CTCAGCATGACGGACAGACCAGGAGTAATAGGCATATGGAAGATCC...
 9         CTCAGCATGACGGACAGACCTTAAACACAAGTCATATGGAAGATCC...
 13        CTCAGCATGACGGACAGACCTAATCTATGAATCGTATGGAAGATCC...
 17        CTCAGCATGACGGACAGACCTGAAATCTCAAGCATATGGAAGATCC...
 ...                                                     ...
 71691609  CTCAGCATGACGGACAGACCAATATAACTCAACATATGGAAGATCC...
 71691613  CTCAGCATGACGGACAGACCCAAAAACGGGTTCATATGGAAGATCC...
 71691617  CTCAGCATGACGGACAGACCACATTACCAAAACATATGGAAGATCC...
 71691621  CTCAGCATGACGGACNGACCATAACTCTACATCATATGGAAGATCC...
 71691625  CTCAGCATGACGGACAGACCTGTAAACAAGTGCATATGGAAGATCC...

 [17922907 rows x 1 columns]]

In [6]:
mRNA_sequences = []
for file in files_mRNA:
    print(f"Reading mRNA file: {file} ...")
    mRNA_sequences.append(readin_fastq(data_path, file))
    print(f"Finished reading {file} ✅")

Reading mRNA file: RMCE_6p0_uniEXTRA_ofhublib4p75_rep1_mRNA_polyA_S1_R1_001.fastq.gz ...
Finished reading RMCE_6p0_uniEXTRA_ofhublib4p75_rep1_mRNA_polyA_S1_R1_001.fastq.gz ✅
Reading mRNA file: RMCE_6p0_uniEXTRA_ofhublib4p75_rep2_mRNA_polyA_S1_R1_001.fastq.gz ...
Finished reading RMCE_6p0_uniEXTRA_ofhublib4p75_rep2_mRNA_polyA_S1_R1_001.fastq.gz ✅
Reading mRNA file: RMCE_6p0_uniEXTRA_ofhublib4p75_rep3_mRNA_polyA_S2_R1_001.fastq.gz ...
Finished reading RMCE_6p0_uniEXTRA_ofhublib4p75_rep3_mRNA_polyA_S2_R1_001.fastq.gz ✅
Reading mRNA file: RMCE_6p0_uniEXTRA_ofhublib4p75_rep4_mRNA_polyA_S3_R1_001.fastq.gz ...
Finished reading RMCE_6p0_uniEXTRA_ofhublib4p75_rep4_mRNA_polyA_S3_R1_001.fastq.gz ✅
Reading mRNA file: RMCE_6p0_uniEXTRA_ofhublib4p75_rep5_mRNA_polyA_S4_R1_001.fastq.gz ...
Finished reading RMCE_6p0_uniEXTRA_ofhublib4p75_rep5_mRNA_polyA_S4_R1_001.fastq.gz ✅

In [7]:
mRNA_sequences

[                                                          0
 1         CTCAGCATGACGGACAGACCTGGACCAACTGGCGTATGGAAGATCC...
 5         CTCAGCATGACGGACAGACCATCTTTCCCTTGCATATGGAAGATCC...
 9         CTCAGCATGACGGACAGACCACCCACGTTCAGCATATGGAAGATCC...
 13        CTCAGCATGACGGACAGACCCGAACCAAGCATCATATGGAAGATCC...
 17        CTCAGCATGACGGACAGACCTCCAAGTATGTGCATATGGAAGATCC...
 ...                                                     ...
 34301393  CTCAGCATGACGGACAGACCGATGTGTCAAAGCATATGGAAGATCC...
 34301397  CTCAGCATGACGGACAGACCAACAAAACGAAACATATGGAAGATCC...
 34301401  CTCAGCATGACGGACAGACNATCTTTCCCTTGCATATGGAAGATCC...
 34301405  CTCAGCATGACGGACAGACCCTATGGGGCATCCTTATGGAAGATCC...
 34301409  CTCAGCATGACGGACAGACCTCAGAAATTACGCGTATGGAAGATCC...

 [8575353 rows x 1 columns],
                                                           0
 1         CTCAGCATGACGGACAGACCCAGCGACGAACGCATATGGAAGATCC...
 5         CTCAGCATGACGGACAGACCTGATTGAGAAGCCATATGGAAGATCC...
 9         CTCAGCATGACGGACAGACCACAAATTTCAGGCATATGGAAGATCC...
 13        CTCAGCATGACGGACAGACCATCTATCCCTTGCATATGGAAGATCC...
 17        CTCAGCATGACGGACAGACCTGATTGAGAAGCCATATGGAAGATCC...
 ...                                                     ...
 81682073  CTCAGCATGACGGACAGACCATCTAGTCCTTTCTTATGGAAGCTCC...
 81682077  CTCAGCATGACGGACAGACCATCCTGCTGAATCATATGGAAGATCC...
 81682081  CTCAGCATGACGGACAGACCCAACAATGGGGACATATGGAAGATCC...
 81682085  CTCACATGACGGACAGACCATCTTTCCCTTGCATATGGAAGATCCT...
 81682089  CTCAGCATGACGGACAGACCCAAACGACGGTTCATATGGAAGATCC...

 [20420523 rows x 1 columns],
                                                           0
 1         CTCAGCATGACGGACAGACCCTGACACAGCCTCATATGGAAGATCC...
 5         CTCAGCATGACGGACAGACCCGAACCAAGCATCATATGGAAGATCC...
 9         CTCAGCATGACGGACAGACCAACGAAAGAGGGCATATGGAAGATCC...
 13        CTCAGCATGACGGACAGACCTAACTTGCAAGACCTATGGAAGATCC...
 17        CTCAGCATGACGGACAGACCCGGGACAGCTAGCATATGGAAGATCC...
 ...                                                     ...
 39983929  CTCAGCATGACGGACAGACCCAGACGACAGTTCATATGGAAGATCC...
 39983933  CTCAGCATGACGGACAGACCTGTCTGCAGCTGCATATGGAAGATCC...
 39983937  CTCAGCATGACGGACAGACCCGGCGACGAACGCATATGGAAGATCC...
 39983941  CTCAGCATGACGGACAGACCTAAGAAAAGAACCATATGGAAGATCC...
 39983945  CTCAGCATGACGGACAGACCCGAACCAAGCATCATATGGAAGATCC...

 [9995987 rows x 1 columns],
                                                           0
 1         CTCAGCATGACGGACAGACCATCTTTCCCTTGCATATGGAAGATCC...
 5         CTCAGCATGACGGACAGACCTCATTACTCACTCATATGGAAGATCC...
 9         CTCAGCATGACGGACAGACCCTCCTAAACAGTCATATGGAAGATCC...
 13        CTCAGCATGACGGACAGACCCGGGACAGCTAGCATATGGAAGATCC...
 17        CTCAGCATGACGGACAGACCTGTTTGTGTAGTCATATGGAAGATCC...
 ...                                                     ...
 77707341  CTCAGCATGACGGACAGACCAAATAACAAACGCATATGGAAGATCC...
 77707345  CTCAGCATGACGGACAGACCACACCTGATGATCCTATGGAAGATCC...
 77707349  CTCAGCATGACGGACAGACCTGATTGAGAAGCCATATGGAAGATCC...
 77707353  CTCCGCATGACGGACAGACCATCTTTCCCTTGCATATGGAAGATCC...
 77707357  CTCAGCATGACGGACAGACCACAACTCAAACTCATATGGAAGATCC...

 [19426840 rows x 1 columns],
                                                           0
 1         CTCAGCATGACGGACAGACCCGAACCAAGCATCATATGGAAGATCC...
 5         CTCAGCATGACGGACAGACCTTGTTGGACAAGCATATGGAAGATCC...
 9         CTCAGCATGACGGACAGACCCGAACCAAGCATCATATGGAAGATCC...
 13        CTCAGCATGACGGACAGACCTTTCGCTTGCGCCATATGGAAGATCC...
 17        CTCAGCATGACGGACAGACCGGAAATGCCAGCCATATGGAAGATCC...
 ...                                                     ...
 52387541  CTCAGCATGACGGACAGACCATCTTTCCCTTGCCTATGGAAGATCC...
 52387545  CTCAGCATGACGGACAGACCACAATACTGATGCATATGGAAGATCC...
 52387549  CTCAGCATGACGGACAGACCATCTTTCCCTTGCATATGGAAGATCC...
 52387553  CTCAGCATGACGGACAGACCCAAACGACGGTTCATATGGAAGATCC...
 52387557  CTCAGCATGACGGACAGACCCAAGATGCCGACCATATGGAAGATCC...

 [13096890 rows x 1 columns]]

In [ ]:
f = pd.read_csv(join(data_path,'RMCE_6p0_uniEXTRA_ofhublib4p75_rep1_gDNA_polyA_S2_R1_001.fastq.gz'),sep="\t",header=None)
f = f.iloc[range(1,f.shape[0],4),:]

In [ ]:
# making sure that each sequence is 75 nucleotides
count = 0
for seq in f.iloc[:,0]:
    if len(seq) == 75:
        count += 1

print(count == len(f.iloc[:,0]))

In [ ]:
# it seems that NOT all sequences start with a certain fixed primer of length 20
count = 0
count2 = 0
for seq in f.iloc[:,0]:
    if seq[:20] == 'CTCAGCATGACGGACAGACC':
     count += 1
    else:
     count2 +=1
print('number of sequences with the same starting sequence: ', count, ' | number of sequences with a different starting sequence: ', count2)

In [8]:
def extract_barcode_with_flanks(sequence, start, end, le_length=8, ri_length=8):
    barcode = sequence[start:end]
    left_flank = sequence[start - le_length:start]
    right_flank = sequence[end:end + ri_length]
    return left_flank, barcode, right_flank

def process_sequences(sequences, le, ri, start, end, seq_type='gDNA'):
    sequences_dict = {}  # key: barcode, value: list of 5 counts (one per replicate)
    
    for replicate_num, df in enumerate(sequences):
        print(f'Processing replicate {replicate_num + 1}...') # just for visualization
        
        extracted = df.iloc[:, 0].apply(lambda seq: extract_barcode_with_flanks(seq, start, end))
        df_extracted = pd.DataFrame(extracted.tolist(), columns=['flank_l', 'BC', 'flank_r']) # a dataframe where rows are sequences, and columns are left-flanking, right-flanking, and barcode regions
        
        # filter sequences that match the given left and right flanks
        df_filtered = df_extracted[(df_extracted['flank_l'] == le) & (df_extracted['flank_r'] == ri)]
        
        # count occurrences of each barcode
        barcode_counts = Counter(df_filtered['BC'])
        
        # store counts in the dictionary
        for barcode, count in barcode_counts.items():
            if barcode not in sequences_dict:
                sequences_dict[barcode] = [0] * replicate_num  # initialize with zeros for the past replicates
            sequences_dict[barcode] += [0] * (replicate_num + 1 - len(sequences_dict[barcode]))
            sequences_dict[barcode][replicate_num] = count  # assign count to each replicate
    
    # convert dict to dataframe
    seq_data = [[seq] + counts for seq, counts in sequences_dict.items()]
    seq_columns = ['sequence'] + [f'{seq_type}_rep{i+1}' for i in range(len(sequences))]
    seq_df = pd.DataFrame(seq_data, columns=seq_columns)
    
    print("✅ Finished processing!")
    return seq_df

In [9]:
gDNA_df = process_sequences(gDNA_sequences, le='GACAGACC', ri='CATATGGA', start=20, end=32, seq_type='gDNA')
gDNA_df

Processing replicate 1...
Processing replicate 2...
Processing replicate 3...
Processing replicate 4...
Processing replicate 5...
✅ Finished processing!

            sequence  gDNA_rep1  gDNA_rep2  gDNA_rep3  gDNA_rep4  gDNA_rep5
0       CTACAATCACAA       2182     1916.0     2567.0     2194.0     2070.0
1       CGCACTTAAAAC       2093     6212.0     9785.0     5734.0     8312.0
2       GAAACATCTTCC      13547    25639.0    31943.0    18795.0    26008.0
3       TTTCCCGGCAAG      14330    33127.0    38045.0    22147.0    27850.0
4       AATGTCTAAAAG      14426    30041.0    35140.0    22666.0    34493.0
...              ...        ...        ...        ...        ...        ...
845674  CACTAACCACCT          0        0.0        0.0        0.0        1.0
845675  CTAATAAAGAAG          0        0.0        0.0        0.0        1.0
845676  AATCTTACGATA          0        0.0        0.0        0.0        1.0
845677  CACCTAATAACC          0        0.0        0.0        0.0        1.0
845678  TAGCCTCGCATG          0        0.0        0.0        0.0        1.0

[845679 rows x 6 columns]

In [ ]:
gDNA_df.to_csv('barcode_gDNA_counts.tsv', sep='\t', index=False)

In [9]:
mRNA_df = process_sequences(mRNA_sequences, le='GACAGACC', ri='CATATGGA', start=20, end=32, seq_type='mRNA')
mRNA_df

Processing replicate 1...
Processing replicate 2...
Processing replicate 3...
Processing replicate 4...
Processing replicate 5...
✅ Finished processing!

            sequence  mRNA_rep1  mRNA_rep2  mRNA_rep3  mRNA_rep4  mRNA_rep5
0       ATCTTTCCCTTG    2022632  4152958.0  1734773.0  4793584.0  2671185.0
1       ACCCACGTTCAG     164029   485576.0   153708.0   480350.0   195942.0
2       CGAACCAAGCAT     228066   535795.0   397328.0   506997.0   396643.0
3       TCCAAGTATGTG       3539        0.0        0.0    10371.0        NaN
4       CAGACATCTGCA      10255    24594.0        0.0     6874.0    48560.0
...              ...        ...        ...        ...        ...        ...
344210  ACATTTGTCACT          0        0.0        0.0        0.0        1.0
344211  TGCCCACTCCTT          0        0.0        0.0        0.0        1.0
344212  TAACAATCAACG          0        0.0        0.0        0.0        1.0
344213  CGTACTAACGCA          0        0.0        0.0        0.0        1.0
344214  TTTACTGACTAC          0        0.0        0.0        0.0        1.0

[344215 rows x 6 columns]

In [ ]:
mRNA_df.to_csv('barcode_mRNA_counts.tsv', sep='\t', index=False)